# ==============================================================================
# ENVIRONMENT VARIABLES CONFIGURATION (VERCEL / RENDER / LOCAL)
# ==============================================================================

# Port number for Express server (default: 5000)
PORT=5000

# JSON Web Token Secret Key for signing user authentication sessions
JWT_SECRET=71fbc7fd1de400996382ccf5c8038da93d31896d158e86cc6a75a47fec5da333a9405d68bbc80aefe5cf624a4dd5a5697dc810e45d23b3362afb2048dd065a23

# MongoDB Atlas Connection URI
MONGODB_URI=mongodb+srv://userhari:23user2026@cluster0.6uptdwi.mongodb.net/stock_portfolio?retryWrites=true&w=majority&appName=Cluster0

# Finnhub API Key for real-time live stock quotes
FINNHUB_API_KEY=d302t41r01qnmrscnpa0d302t41r01qnmrscnpag

# Frontend API Base URL (set to Render backend URL e.g. https://stocks-portfolio-backend.onrender.com or leave blank for local)
VITE_API_BASE_URL=
